# Dependencias locales (si en el futuro se añaden)
node_modules/

# Entornos y secretos
.env
.env.*

# macOS
.DS_Store

# Editores / IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
